{*  Theme: Gold     *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/gold/httpdocs/index/index.style"}

<style>{literal}.quick_search hr {height:0;}{/literal}</style>

<div id="page_canvas" style=" width: 916px; margin: 0 auto;">
	{ads pos='top'}
    <div id="content" style=" width: 916px; height: 480px; margin: 0 auto;">
        <div style="background: url({$smarty.const.URL_LAYOUT}themes/gold/img/index_pic.png) no-repeat 0px 79px ; width: 916px;     height: 605px; margin-left: 8px; position: relative;">      
            <div style="background: url({$smarty.const.URL_LAYOUT}themes/gold/img/logo.png) no-repeat 81px 37px; width: 467px; height: 113px; float:left;"></div>
            <div class="float_right">{component FBCButton}{component SelectLanguage}</div>
			<br clear="all" />
            <div style="position: absolute; width: 366px; height: 339px; top: 90px; left: 160px; font-size: 11px;">{component QuickSearch}</div>
            <div style="position: absolute; width:494px; height:100px; bottom: 17px; left: 169px; color: #FED599;  font-size: 14px; line-height: 20px;  font-family:verdana ; font-style: italic;  ">{text %.promo.promo_index_gold}</div>
			<div style="width:242px; height:96px; position: absolute; bottom:32px; right:2px; ">
                <a href="{document_url doc_key="join_profile"}" style="background: url({$smarty.const.URL_LAYOUT}themes/gold/img/join_button.png) no-repeat; cursor: pointer; display:block; float:left; height:96px;  width:96px; margin-left: 8px"></a>
                <span style="float: left; margin-top: 32px; color: #FDEBD7;  font-size: 19px; font-family: verdana; font-style: italic;">{text %.label.or}</span>
                <a href="{document_url doc_key="sign_in"}" style="background: url({$smarty.const.URL_LAYOUT}themes/gold/img/signin_button.png) no-repeat; cursor: pointer; display:block; float:left; height:96px;  width:96px; margin-left: 8px"></a>
            </div>
		</div>
		{ads pos='bottom'}
	</div>                
</div>
{/canvas}