/* Sidebar CSS Styles */

.sidebar a:link,
.sidebar a:visited
{
}

.sidebar .block
{
	margin-bottom: 10px;
}

.sidebar .block_cap
{
	height: 18px;
}

.sidebar .block_cap h3
{
 	font-family: << $base_font;
	font-size: 10px;
}

.sidebar input.text
{
	width: 93%;
}
