{*  Theme: Rainbow  *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/rainbow/httpdocs/index/index.style"}

<div class="wrap">
	<div id="page_canvas">
		{component PageHeader}
		<div id="content">
			<div class="float_half_left" style="width: 310px;">
				{component SignIn}
				<a class="sign_up_btn" href="{document_url doc_key=join_profile}">{text %.label.sign_up_index_rainbow}</a>
				{component QuickSearch}
				{component EventIndexCalendar}
			</div>

			<div class="float_half_right" style="width: 685px;">
				{component IndexVideo lists='latest|toprated' active='toprated'}
				{component IndexPhotoList count=6 lists="top_rated|most_commented|latest|most_viewed"}
				{component ForumLastTopics count=2}
			</div>
			<div id="footer">{component PageFooter}</div>
			{ads pos='bottom'}
		</div>
	</div>
</div>

{/canvas}