{*  Theme: Guys  *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/guys/httpdocs/index/index.style"}

<div class="page-gradient">
	<div class="page-wrap">
		<div id="page_canvas" class="clearfix">
			<div id="content">
				{component NavigationInventoryLine}
				{component PageHeader}
				<br />
				<div class="clearfix" style="background: transparent url({$smarty.const.URL_LAYOUT}themes/guys/img/index_photo.png) no-repeat 433px top; min-height:409px; padding-top:87px; padding-left:69px;"> 
					<div style="float:left; background: transparent url({$smarty.const.URL_LAYOUT}themes/guys/img/qk_srch.png) no-repeat 110px 35px; padding:92px 0px 0px 77px;">
						{component QuickSearch type="index"}
					</div>
				</div>
				<div style="background: transparent url({$smarty.const.URL_LAYOUT}themes/guys/img/bg_index_line.gif) repeat-x center top; padding-top:30px;">
					 <div class="clearfix" style="background:#d1a304 url({$smarty.const.URL_LAYOUT}themes/guys/img/bg_index_p.jpg) repeat-x; min-height:228px;">
						<div style="float:left; margin-top:-32px; width:500px;">{component IndexProfileList count=0 lists="featured|online|new" active="featured"}</div>
						<div style="float:right; margin-top:-32px; width:500px;">{component IndexPhotoList count=10 lists="latest"}</div>
					</div>
				</div>
				<div id="footer">{component PageFooter}</div>
				{ads pos='bottom'}
			</div>
		</div>
	</div>
</div>
{/canvas}