#page_canvas {
	width: 1000px;
	min-height: 0px;
	background: image(signin_couple.png) no-repeat 50% bottom;
}
#content {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
	float: none;
	min-height: 0px;
}
.bg_spot {
	min-height: 1000px;
}
#footer {
	clear: none;
}