#page_canvas {
	margin: 0px auto 0px;
	width: 975px;
	background: image(sign_in_bg.jpg) no-repeat 0px 15px;
}
#content {
	width: 975px;
	background: none;
}
body .page_header {
	width: 960px;
	background: none;
	height: 110px;
}
body #footer {
	margin-top: 110px;
}
