{* Theme: Tenderness *}
{* Author: Skadate *}

{canvas index}
{include_style file="themes/adult/httpdocs/index/index.style"}

<div id="page_canvas" >
    <div id="content" style="background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_content.jpg) repeat-y; padding: 0px; margin: 0px;">
		{*  {component PageHeader}
			{component NavigationSubMenu level=1}
			{component BreadCrumb}*}
		<br />
		<div style="width: 100%; margin-bottom: 10px;">
			<div class="clearfix" style="width: 830px; height: 400px; background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_logo.jpg) no-repeat top center;">
				<div class="clearfix">
					<div style="background: url({$smarty.const.URL_LAYOUT}themes/adult/img/logo.png) no-repeat 13px 35px; width:395px; height: 126px; float: left;">  </div>
					<div class="float_right">{component FBCButton}{component SelectLanguage}</div>
				</div>
				<div style="width:238px; height: 150px; color: #fff; margin-left: 20px; float:left;">{text %.promo.promo_index_adult}</div>
				<div style="width:293px; height: 278px; float: right;">
					<a href="{document_url doc_key="join_profile"}"><img src="{$smarty.const.URL_LAYOUT}themes/adult/img/join.png"></a>
				</div>
			</div>
			<div style="width: 830px; height: 27px; background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_logo_b.jpg
			) no-repeat bottom center;"></div>
			<div style="width: 830px; height: 27px; background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_qs.jpg) no-repeat bottom center;"></div>
			<div style="width: 830px; height: 370px; background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_qs_c.jpg) repeat-y bottom center;">
				<div class="float_half_left">
					{component QuickSearch}
				</div>

				<div class="float_half_left" >
					{component IndexPhotoList lists='top_rated|most_commented|latest|most_viewed' count=9}
				</div>
			</div>
			<div style="width: 830px; height: 44px; background:url({$smarty.const.URL_LAYOUT}themes/adult/img/index_qs_b.jpg) no-repeat bottom center;"></div>
		</div>
	</div>
	{component PageSidebar}
	<div id="footer">{component PageFooter}</div>
	{ads pos='bottom'}
</div>

{/canvas}