{*  Theme: Sparkles *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/sparks/httpdocs/index/index.style"}

<div id="page_canvas">
	{ads pos='top'}
	{component NavigationInventoryLine}
	{component PageHeader}
	<div id="content" style="padding: 0; width: 830px;">
		<div style="width: 100%; height: 350px;">
			<div class="index_sp_events" style="background: url({$smarty.const.URL_LAYOUT}themes/sparks/img/index_event.png) no-repeat; width:184px; height: 212px; float: left; margin-top: 45px; margin-left:30px;">
				<a  href="{document_url doc_key="events"}" style="color:#fff; font-size: 24px; padding:219px 0 10px 66px; display: block;">Events</a>
			</div>
			<div class="index_sp_profiles" style="background: url({$smarty.const.URL_LAYOUT}themes/sparks/img/profiles.png) no-repeat; width:163px; height: 163px; float: left; margin-top: 55px; margin-left:30px;">
				<a  href="{document_url doc_key="featured_list"}" style="color:#fff; font-size: 24px; padding: 208px 0 10px 28px; display: block;">Profiles</a>
			</div>
			<div class="index_sp_photos" style="background: url({$smarty.const.URL_LAYOUT}themes/sparks/img/photos.png) no-repeat; width:152px; height: 190px; float: left; margin-top: 45px; margin-left:30px;">
				<a href="{document_url doc_key="top_rated_photo"}" style="color:#fff; font-size: 24px; padding:217px 0 10px 45px; display: block;">Photos</a>
			</div>
			<div class="index_sp_blogs" style="background: url({$smarty.const.URL_LAYOUT}themes/sparks/img/blogs.png) no-repeat; width:174px; height: 200px; float: left; margin-top: 45px; margin-left:30px;">
				<a href="{document_url doc_key="blogs"}" style="color:#fff; font-size: 24px; padding:217px 0 10px 45px; display: block;">Blogs</a>
			</div>
		</div>
		<div class="float_half_left" >
			{component IndexPhotoList lists="latest|top_rated" active="latest" count = 12}
			{component BlogIndexList lists="latest" count=4}
		</div>
		<div class="float_half_right">
			{component Shoutbox}
			{component IndexProfileList lists="featured|new" active="new" count = 12}
			{component IndexVideo lists='latest|toprated' active='toprated'}
		</div>
	</div>
	{component PageSidebar}
    <div id="footer">{component PageFooter}</div>
	{ads pos='bottom'}
</div>

{/canvas}