{*  Theme: Moonlight  *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/moonlight/httpdocs/index/index.style"}

<div id="page_canvas">
	{component PageHeader}
	<div id="content">
		{component NavigationInventoryLine}
		<div class="promo clearfix">
			<div class="photo1"></div>
			<div class="photo2"></div>
			<div class="photo3"></div>
		</div>
		<div class="grey_block">
			<div class="grey_block_cap">
				<div class="grey_block_cap_r">
					<div class="grey_block_cap_c"></div>
				</div>
			</div>
			<div class="grey_block_body">
				<div class="grey_block_body_r">   
					<div class="grey_block_body_c">
						<div style="height: 70px; width: 950px; margin-bottom: 10px; background: transparent; padding: 5px; font-size:14px; font-weight:bold; margin-left:10px;">
							{text %.promo.promo_index_ml}
						</div>
						{component IndexProfileList count=8 lists="featured|online|new" active="featured"}
					</div>
				</div>
			</div>
			<div class="grey_block_bottom"> 
				<div class="grey_block_bottom_r">
					<div class="grey_block_bottom_c"></div>
				</div>
			</div>
		</div>
		<div class="metall_box clearfix">
		   <div class="float_half_left" >
				<div class="search_link"><a href="{document_url doc_key=profile_search}" style="background:url({$smarty.const.URL_LAYOUT}themes/moonlight/img/search_link.png) no-repeat right top; display:block; height:18px; margin-top:40px; margin-right:75px;"></a></div>
		   </div>
		   <div class="float_half_right">
				<div class="sign_in_box"> {component SignIn type="line"}</div>
		   </div>
		</div> 
		<div class="grey_block">
			<div class="grey_block_cap">
				<div class="grey_block_cap_r">
					<div class="grey_block_cap_c"></div>
				</div>
			</div>
			<div class="grey_block_body">
				<div class="grey_block_body_r">   
				   <div class="grey_block_body_c  clearfix">
						 <div class="float_half_left" >
							{component IndexVideo lists='latest|toprated' active='toprated'}
						</div>
						<div class="float_half_right">
							{component ForumLastTopics}
						</div>
					</div>
				</div>
			</div>
			<div class="grey_block_bottom"> 
				<div class="grey_block_bottom_r">
					<div class="grey_block_bottom_c"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">{component PageFooter}</div>
	{ads pos='bottom'}
</div>

{/canvas}