<html>
<head>
    <link type="text/css" rel="stylesheet" href="{$smarty.const.URL_ADMIN_CSS}admin.css" />
</head>

<body>
<div class="admin_auth_precont">
    
</div>
<form action="{$selfurl}" method="POST" >
<table align="center" class="admin_auth_tbl" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2" align="center" valign="top" class="admin_auth_main_tr">
            Change Password
        </td>
    </tr>
    <tr>
        <td valign="top" width="30%" align="center" class="admin_auth_item">
            New Password
        </td>
        <td align="left" valign="top">
            <input type="password" name="password" id="username" class="input_text" value="" />
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" class="admin_auth_item">
            Confirm Password
        </td>
        <td align="left" valign="top">
            <input type="password" name="re_password" id="password" class="input_text" value="" />
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" name="change" value="Change" class="admin_auth_btn" />            
        </td>
    </tr>
</table>
</form>
</body>
</html>