{*  Theme: Black      *}
{*  Author: Skadate  *}

{canvas index}
<div id="page_canvas">
    {ads pos='top'}
	{component NavigationInventoryLine}
	{component PageHeader}
	<div id="content">
		{component BreadCrumb}
		<br />

		<div style="width:100%; height: 214px;">
			<a href="{document_url doc_key="forum_group_list"}" style="background:url({$smarty.const.URL_LAYOUT}themes/black/img/forum.jpg) no-repeat; float: left; width:204px; height:200px; display:block; margin-left:1px;"></a>
			<a href="{document_url doc_key="latest_photo"}" style="background:url({$smarty.const.URL_LAYOUT}themes/black/img/photos.jpg) no-repeat; float: left; width:204px; height:200px; display:block; margin-left:1px;"></a>
			<a href="{document_url doc_key="latest_video"}" style="background:url({$smarty.const.URL_LAYOUT}themes/black/img/video.jpg) no-repeat; float: left; width:204px; height:200px; display:block; margin-left:1px;"></a>
			<a href="{document_url doc_key="featured_list"}" style="background:url({$smarty.const.URL_LAYOUT}themes/black/img/profiles.jpg) no-repeat; float: left; width:204px; height:200px; display:block; margin-left:1px;"></a>
		</div>
		<div class="float_half_left" >
			{component IndexProfileList lists='featured|online|new' count=5}
			{component IndexVideo lists='latest|toprated' active='toprated'}
			{component IndexMusic lists='latest|toprated' active='toprated'}
			{component BlogIndexList}
			{component IndexGroupList lists="latest|most_popular" count=4}
		</div>
		<div class="float_half_right">
			{component Shoutbox}
			{component IndexPhotoList lists='top_rated|most_commented|latest|most_viewed' count=8}
			{component ForumLastTopics}
			{component EventIndexCalendar}
		</div>
	</div>
	{component PageSidebar}
	<div id="footer">{component PageFooter}</div>
	{ads pos='bottom'}
</div>
{/canvas}