{canvas}
{container stylesheet="memberhome.style" class="memberhome"}

<div class="clearfix">
    <div class="float_half_left">
        {component MemberHomeLinks}
        {component SiteNewsfeed}        
        {component ProfileGiftList}
        {component SavedLists}
        {component Shoutbox}
        {component IndexNews}
        {component InviteFriends}
        {component IndexCommentsOverview}
    </div>

    <div class="float_half_right">
        {component OnlineUsersMap}
        {component ImportantTips}
        {component ProfileStatus}
        {component QuickSearch}
    </div>
</div>

{/container}
{/canvas}