{*  Theme: SweetDate *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/sweetdate/httpdocs/index/index.style"}

<div class="top clearfix">
	{component FBCButton}
	{component SelectLanguage}
	{component NavigationInventoryLine}
	{ads pos='top'}
</div>
<div id="page_canvas">
   {component NavigationMenuMain}
	<div class="clearfix promo">
		<div style="float: left; width:30%; padding-top: 25px ">
		  <a class="logo" href="{$smarty.const.SITE_URL}"></a>
		  <div style="width:225px; padding-left: 30px;">
			  {component SignIn}
			  <a class="index_join" href="{document_url doc_key=join_profile}" title="{text %.label.sd_index_join_btn}">{text %.label.sd_index_join_btn}</a>
		  </div>
		</div>
		<div style="width: 305px; float: right;  padding:20px 30px 0px 0px;">{component QuickSearch type=index}</div>
	</div>
	<div id="content" style="padding: 0; width:972px; float: none; margin: 0px auto;">
		<div class="rhombs clearfix">
			<div style="width:203px;height:90px;background:url({$smarty.const.URL_LAYOUT}themes/sweetdate/img/index_pink.png) no-repeat;float:left"></div>
			<div class="ul_sex_1">{component ProfileListLine sex=1 count=7}</div>
			<a style="float:left; width: 33px;height: 90px;background:url({$smarty.const.URL_LAYOUT}themes/sweetdate/img/index_arr_pink.png) no-repeat right 0px;" href="{document_url doc_key='latest_members' sex=1}"></a>
			<div style="width:203px;height:90px;background:url({$smarty.const.URL_LAYOUT}themes/sweetdate/img/index_blue.png) no-repeat;float:left"></div>
			<div class="ul_sex_2">{component ProfileListLine sex=2 count=7}</div>
			<a style="float:left; width: 33px;height: 90px;background:url({$smarty.const.URL_LAYOUT}themes/sweetdate/img/index_arr_blue.png) no-repeat right 0px;" href="{document_url doc_key='latest_members' sex=2'}"></a>
		</div>
		{component ForumLastTopics type=line count=3}
		{component EventIndexCalendar view_mode='list|calendar' count=5}
		<div class="green_bottom clearfix">
			<div class="float_half_left" style="width: 485px">
				<div class="green_cap"><div class="green_cap_r"><div class="green_cap_c">
				  <h3 class="block_cap_title">{text %.promo.promo_index_sd_cap}</h3>
				</div></div></div>
				<div class="block_body"><div class="block_body_r"><div class="block_body_c">
					{text %.promo.promo_index_sd}
				</div></div></div>
				<div class="block_bottom"><div class="block_bottom_r"><div class="block_bottom_c"></div></div></div>
			</div>
			<div class="float_half_right" style="width: 485px; overflow: hidden">
				<div class="green_cap"><div class="green_cap_r"><div class="green_cap_c">
					<h3 class="block_cap_title">{text %.blogs.blog_index_cap}</h3>
				</div></div></div>
			   {component BlogIndexList lists="latest" count=3}				   
			</div>
		</div>
	</div>
	<div id="footer">{component PageFooter}</div>
	{ads pos='top'}
</div>
{/canvas}