{*  Theme: Sky   *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/sky/httpdocs/index/index.style"}

<div id="page_canvas">
	{ads pos='top'}
	{component NavigationInventoryLine}
	{component PageHeader}
	<div id="content" style="padding: 0; width: 830px;">
		<div style=" height: 411px; width: 828px; margin-bottom: 10px; background: url({$smarty.const.URL_LAYOUT}themes/sky/img/sky_index_heart.png) no-repeat 268px center; ">
			<div class="float_half_left" style="width: 33%">
				{component QuickSearch}
			</div>
			<div style="float: right; width: 244px; color: #fff; padding: 10px;">{text %.promo.promo_index_sky} </div>
			<a href="{document_url doc_key="join_profile"}" style="margin:42px; margin-left: 66px; float: right; display: block; width: 189px; height: 120px;"><img src="{$smarty.const.URL_LAYOUT}themes/sky/img/join.png"></img></a>
		</div>

		{*<div class="float_half_left" >

		{component IndexVideo lists='latest|toprated' active='toprated'}

		</div>*}
	</div>
	{component PageSidebar}
	<div id="footer">{component PageFooter}</div>
	{ads pos='bottom'}
</div>
{/canvas}