{*  Theme: A Book of Faces  *}
{*  Author: Skadate  *}

{canvas index}
<div id="page_canvas">
	{component PageSidebar}
	<div id="content">
		{component NavigationInventoryLine}
		{ads pos='top'}
		{component PageHeader}
		{component NavigationSubMenu level=1}
		{component BreadCrumb}
		<br />
		<div style="height: 90px; width: 820px; margin-bottom: 10px; background: #eee; padding: 5px;">
			{text %.promo.promo_index_fb}
		</div>
		<div class="float_half_left" >
			{component IndexVideo lists='latest|toprated' active='toprated'}
			{component ForumLastTopics}
			{component BlogIndexList}
			{component EventIndexCalendar}
		</div>
		<div class="float_half_right">
			{component Shoutbox}
			{component QuickSearch}
			{component IndexProfileList count=10 lists="featured|online|new" active="featured"}
			{component IndexPhotoList count=10 lists="latest"}
		</div>
		<div id="footer">{component PageFooter}</div>
		{ads pos='bottom'}
	</div>
</div>
{/canvas}