{*  Theme: FAB  *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/fab/httpdocs/index/index.style"}

<div id="page_canvas"> 
	{ads pos='top'}
	<div class="page_header">
		<div class="clearfix">
			<div class="float_right">{component NavigationInventoryLine}</div>
			<div class="float_left"> 
				{component SelectLanguage}
				{component FBCButton} 
			</div>
		</div>
		<a class="logo" href="{$smarty.const.SITE_URL}"></a>
		{component NavigationMenuMain}
	</div>
	<div id='content'>
		<div class="promo_txt">{text %.promo.promo_index_fab}</div>
		<div class="clearfix" style="padding-bottom: 30px;">
			<div class="float_half_left" style="width:260px; margin: 0px;">{component QuickSearch type=index} </div>
			<div class="index_btns_wrap">
				<div class="index_btns"> 
					<a href="{document_url doc_key=sign_in}" class="index_signin">{text %.label.sign_in}</a>
					<div class="or">{text %.label.or}</div>
					<a href="{document_url doc_key=join_profile}" class="index_join">{text %.label.join_now}</a> 
				</div>
			</div>
		</div>
		<div class="float_half_left" style="width: 47%">{component IndexProfileList lists="featured|online|new" count=6}</div>
		<div class="float_half_right" style="width: 50%">{component IndexPhotoList lists = 'top_rated|most_commented|latest|most_viewed' count=5}</div>
	</div>
	<div id='footer'>
		{component PageFooter}
		{ads pos='bottom'} 
	</div>
</div>
{/canvas}
