{*  Theme: Colorful Rings     *}
{*  Author: Skadate  *}

{canvas index}
{include_style file="themes/cr/httpdocs/index/index.style"}

<div id="page_canvas" style="width: 830px; margin: 0 auto;">
	{ads pos='top'}
	{component NavigationInventoryLine}
	{component PageHeader}
	<div id="content" style="background: #ffe9bf;">
		<div style="background: url({$smarty.const.URL_LAYOUT}themes/cr/img/index_promo.jpg) no-repeat; width: 572px; height: 396px; float: left; margin-bottom: 4px;">
			<div style="width: 254px; float: left; margin: 10px 0 0 10px;">{component QuickSearch}</div>
		</div>
		<div style="width: 231px; height: 350px; float: right; margin-top: 34px; margin-right: 4px;">
			{text %.promo.promo_index_cr}
			<a href="{document_url doc_key="join_profile"}" style="width: 198px; height: 155px; float: right; margin-top: 25px; margin-right: 41px;  display: block;">
			   <img src="{$smarty.const.URL_LAYOUT}themes/cr/img/join.png"></img>
			</a>
		</div>
		<div class="float_half_left" >
			{component IndexProfileList lists='featured|online|new' count=5}
		</div>
		<div class="float_half_right">
			{component IndexPhotoList lists='top_rated|most_commented|latest|most_viewed' count=8}
		</div>
	</div>
	<div id="footer" style="width: 830px;">{component PageFooter}</div>
	{ads pos='bottom'}
</div>
{/canvas}