#page_canvas {
	margin:auto;
	width: 1000px;
}
#content {
	padding: 0px;
	background: image(sign_in_bg.jpg) no-repeat center 45px;
	min-height: 700px;
	width: 1000px;
	margin: 0px auto;
}
#page_canvas #footer {
	width: 996px;
}
#page_canvas .page_header {
	background: transparent none;
}
.page_header .submenu {
	display: none;
}